body{
    background-color: #ddf8f4;
}

.color
{
  
    font-family: 'Quicksand', sans-serif;
font-weight: lighter;
color:#297F87;
align-items: center;

}
.container
{
    display: flex;
    justify-content: center;
}
.book
{font-family: 'Antic Didone', serif;
    font-weight: 500;
    margin-top:50px;
    margin-bottom:30px;
    background: linear-gradient(
        -45deg
        ,#57cfb0,#2ab5d3);
    text-align: center;
    font-size: 2.5rem;
    color:white;
    
}
.name
{
    
}
.list
{
    font-family: 'Quicksand', sans-serif;
   
  margin-left:150px;
  display: inline-block;
  font-size: 1.3rem;

}
.cha
{
    display: inline-block;
    position:absolute;

    margin-bottom:100px;
}